.tabs-tab {
  color: $color-primary;
}

.tabs-tab.is-active {
  color: $color-text
}

.tabs-tab:first-child {
  border-right: 2px dashed #ddd;

  @media screen and (max-width: $break-md) {
    border-right: none;
  }

}