.button {
  @include button(map-get($palette, 'neutral'), map-get($palette, 'text'));
  font-family: $font-sans-serif;
}

.button.primary {
  @include button(map-get($palette, 'primary'), white);
  font-family: $font-sans-serif;
}

.button.secondary {
  @include button(map-get($palette, 'secondary'), white);
  font-family: $font-sans-serif;
}

.button.alert {
  @include button(map-get($palette, 'alert'), white);
  font-family: $font-sans-serif;
}

.button.inverted {
  @include button(white, map-get($palette, 'text'));
  font-family: $font-sans-serif;
}

.button.hover {
  border: none;
  background: none;
  transition: 0.3s;
  text-transform: none;
  &:hover {
    background: map-get($palette, 'narvik');
    box-shadow: 0 3px darken(map-get($palette, 'narvik'), 7);
  }
  &:active {
    background: map-get($palette, 'sunglow');
    box-shadow: 0 3px darken(map-get($palette, 'sunglow'), 7);
    transition: none;
  }
}


.button-share-facebook {
  background-color: map-get($palette, 'facebook');
}

.button-share-twitter {
  background-color: map-get($palette, 'twitter');
}

.button-share-email {
  background-color: map-get($palette, 'neutral');
}




// Disabled state
.button.disabled,
.button[disabled],
.button[disabled]:hover,
.button.disabled:hover {
  cursor: not-allowed;
  //background: $color-bg-neutral;
  //color: lighten($color-text, 5);
}

