@mixin rounded-form-element() {
  height: $height-form-control;
  padding: 0 $sm;
  border: 2px solid map-get($palette, 'white-pointer');
  border-radius: rem(3);
  width: 100%;
}


/*
 * Input fields
 */

input,
input[type="text"],
input[type="email"],
input[type="password"],
.input {
  @include rounded-form-element();
}

.ie8 input {
  line-height: 40px;
}

textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder {
  color: #A9A9A9;
}



/*
 * Select field
 */

select,
.select {
  @include rounded-form-element();
}

.select-green {
  background-color: map-get($palette, 'persian-green');
  border: 2px solid map-get($palette, 'white');
}

.ie9 .select {
  padding-right: 0;
}


/*
 * Textarea field
 */

textarea,
.textarea {
  @include rounded-form-element();
  height: rem(200);
  resize: vertical;
}

.select-green {
  background-color: map-get($palette, 'persian-green');
  border: 2px solid map-get($palette, 'white');
}


/*
 * Radio button
 */ 

.radio {
  border: none;
}


/*
 * Control group
 */

.control-group label,
legend,
.control-label {
  display: block;
}

.control-group-inline {
  > input[type="radio"] {
    width: 30px;
  }

  > input {
    float: left;
    display: block;
  }

  > label {
    float: left;
    line-height: rem(37);
  }
}


/*
 * Simple error
 */

.error {
  background-color: map-get($palette, 'alert');
  padding: rem(5) rem(10);
  border-radius: rem(5);
  color: white;
  display: block;
  margin-top: $xxs;
}
