@mixin rounded-form-element() {
  height: $height-form-control;
  padding: 0 $sm;
  border: 2px solid map-get($palette, 'white-pointer');
  border-radius: rem(3);
}


/*
 * Input fields
 */

input,
input[type="text"],
input[type="email"],
input[type="password"],
.input {
  @include rounded-form-element();
}


/*
 * Select field
 */

select,
.select {
  @include rounded-form-element();
}

.select-green {
  background-color: map-get($palette, 'persian-green');
  border: 2px solid map-get($palette, 'white');
}