// @font-face {
//   font-family: "adelle-sans";
//   src: url("lmn.jester.theme.default/src/base/font/adellesansbasic-regular-webfont.eot");
//   src: url("lmn.jester.theme.default/src/base/font/adellesansbasic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("adellesansbasic-regular-webfont.woff") format("woff"), url("adellesansbasic-regular-webfont.ttf") format("truetype"), url("adellesansbasic-regular-webfont.svg#adelle-sans") format("svg");
// }

// @font-face {
//   font-family: "adelle-sans";
//   font-weight: bold;
//   src: url("lmn.jester.theme.default/src/base/font/adellesansbasic-bold-webfont.eot");
//   src: url("lmn.jester.theme.default/src/base/font/adellesansbasic-bold-webfont.eot?#iefix") format("embedded-opentype"), url("adellesansbasic-bold-webfont.woff") format("woff"), url("adellesansbasic-bold-webfont.ttf") format("truetype"), url("adellesansbasic-bold-webfont.svg#adelle-sans") format("svg");
// }

@font-face {
  font-family: "LMN-icons";
  src: url('../font/LMN-icons.eot');
  src: url('../font/LMN-icons.eot?#iefix') format('embedded-opentype'),
       url('../font/LMN-icons.woff') format('woff'),
       url('../font/LMN-icons.ttf') format('truetype'),
       url('../font/LMN-icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}