.quotes {
  .row {
    border-bottom: 2px solid map-get($palette, 'narvik');
  }

  .row:last-child {
    border: none;
  }

  .col:first-child {
    border-right: 2px solid map-get($palette, 'narvik');
    text-align: center;
  }

  .col:last-child {
    margin-left: -2px;
  }

  @include on("sm") {
    .row {
      border-bottom: 0;
    }

    .col:first-child {
      border-right: 0;
    }
  }
}
